extends layout

block content
      
      .info
        h1 La mejor manera de guardar todos tus archivos
        p#dl
          | DL Cloud te permite guardar tus archivos sin ningun problema, ya sea
          | Documentos, PDF, Fotografias, Videos y mas!.
     
