extends layout

block content
    header
    img#logo(src='../images/DL-Cloud2.0 (Dark).png' alt='')
    .menu_header
        img#profile_picture(src='../images/default_profile_image.jpg' alt='')
        button#opciones
        i.fas.fa-sort-down
    .Mi_espacio
    nav
        ul
        li
            i.far.fa-folder-open
            a(href='#') Mis Archivos
        li
            i.fas.fa-certificate
            a(href='#') Destacados
        li
            i.fas.fa-trash
            a(href='#') Papelera
    .Content
        i.far.fa-times-circle
        p No tiene nada guardado
    footer